@charset "UTF-8";
@font-face {
    font-family: 'Oswald';
    src: url(../media/fonts/oswald-regular-webfont.woff2);
}
@font-face {
    font-family: 'HelveticaLight';
    src: url(../media/fonts/HelveticaNeueLT-Light.woff2);
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'HelveticaLight', Arial, sans-serif;
}

header, #nav, main {
    min-width: auto;
    max-width: 93vw;
    margin: auto;
}

header {
    padding: 3vw 0px;
}

header h1 a, header p, h2, h3, nav a{
    font-family: 'Oswald', Arial, sans-serif;
}

header h1 a{
    text-decoration: none;
    color: black;
    font-size: 2em;
}

header h1 a:hover {
    color: red;
    transition: 0.5s;
}

header p {
    font-size: 1em;
    text-transform: uppercase;
    color: red;
}

nav{
    margin: 1vw 0px;
}

nav a{
    font-size: 1.2em;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin: 0vw 2vw;
}

nav a::after{
    content: '▾';
}

.bold-hr{
    height: 3px;
    border-color: black;
    background-color: black;
}

main{
    margin: 40px 40px 0px 40px;
}

#left, #middle, #right{
    display: inline-table;
}

#left, #middle {
    margin: 0px 1.5vw 0px 0px;
}

#left {
    width: 50%;
}

#middle{
    width: 26%;
}

#right{
    width: 20%;
}